{% set python_version = "=" + python_version if python_version else "" -%}
{% set pkg_version = "=" + pkg_version if pkg_name and pkg_version else "" -%}
#!/bin/bash

# To be run as:
# $ docker run -it --rm -v $PWD:/build {{ docker_image }} bash /build/{{ script_name }}

set -e

umask 0002
{% if extra_cmd_before_install %}{{ '\n' }}{{extra_cmd_before_install}}{{ '\n' }}{% endif %}
. /opt/conda/etc/profile.d/conda.sh

conda install conda -y

env_name="{{ env_name }}"
python_version="{{ python_version }}"
pkg="{{ pkg_name }}{{ pkg_version }}"
extra_packages="{{ extra_packages }}"
channels="{{ channels }}"

time conda create \
    -n ${env_name} \
    ${channels} --override-channels -y \
    python${python_version} conda-pack \
    ${pkg} \
    ${extra_packages}

conda activate ${env_name}

time conda env export \
    -n ${env_name} \
    -f /build/${env_name}.yml \
    ${channels} --override-channels

# Assuming the "build" dir is mounted via the "docker run -v ..."
time conda-pack -o /build/${env_name}.tar.gz

time openssl sha256 /build/${env_name}.tar.gz > /build/${env_name}-sha256sum.txt
chmod -v 664 /build/${env_name}.*

conda deactivate

