# Linting/formatting
black
flake8
isort
# These are dependencies of various sphinx extensions for documentation.
ipython
jupyter
matplotlib
nbsphinx
numpydoc
pandoc
sphinx
sphinx-copybutton
sphinx_rtd_theme
tabulate
