#!/bin/bash

sed -e 's/: [^:\/\/]/="/g;s/ *=/=/g' {{config_file}} >temp.yml
source temp.yml
rm temp.yml

timestamp=$(date +%Y%m%d%H%M%S)

docker image build . -t ${image}:latest \
                     -t ${image}:${timestamp}
docker run -ti --name temp ${image}:${timestamp} bash -l /home/conda/export.sh
docker cp temp:/home/conda/. .
docker rm -f temp

{% for key in os.getenv("docker_upload").split(";") %}
{% if key == "ghcr" %}
echo $GITHUB_TOKEN | docker login ghcr.io --username $GITHUB_USERNAME --password-stdin
docker tag ${image}:${timestamp} ghcr.io/$GITHUB_USERNAME/${image}:${timestamp}
docker tag ${image}:${timestamp} ghcr.io/$GITHUB_USERNAME/${image}:latest
docker image push ghcr.io/$GITHUB_USERNAME/${image}:${timestamp}
docker image push ghcr.io/$GITHUB_USERNAME/${image}:latest
{% elif key == "dockerhub" %}
echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin
echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin
docker tag ${image}:${timestamp} $DOCKER_REPO:${timestamp}
docker tag ${image}:${timestamp} $DOCKER_REPO:latest
docker push $DOCKER_REPO:${timestamp}
docker push $DOCKER_REPO:latest
{% elif key == "quay" %}
docker create --name extra-container ${image}:${timestamp}
echo $QUAY_PASSWORD | docker login quay.io -u $QUAY_USERNAME --password-stdin
docker commit extra-container quay.io/$QUAY_REPO:${timestamp}
docker commit extra-container quay.io/$QUAY_REPO:latest
docker push quay.io/$QUAY_REPO:${timestamp}
docker push quay.io/$QUAY_REPO:latest
docker rm extra-container
docker image rm quay.io/$QUAY_REPO
{% else %}
echo "Invalid entry."
exit 1
{% endif %}
{% endfor %}
{% if os.getenv("zenodo_upload") == "yes" %}
python3 zenodo_uploader.py -c {{config_file}}
{% endif %}
